@import url('https://fonts.googleapis.com/css?family=Tangerine');

body {
    margin: 0;
    padding: 0;
    font-family: 'Florence', cursive;
}
.header {
    background-color: rgb(0, 128, 255);
    color: white;
    margin: 0;
    padding: 10px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tangerine', 'Florence', cursive;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: bold;
}
.menu {
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu a:hover {
    background-color: white;
    color: #0080ff;
    border-radius: 5px;
}
.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    opacity: 0.6; /* Set the desired transparency level */
    transition: opacity 0.3s ease;
}
.menu-toggle:hover {
    opacity: 1; /* Set a higher opacity on hover if desired */
}
.contents {
    margin: 80vh 0;
}
footer {
    background-color: rgb(0, 128, 255);
    color: white;
    text-align: center;
}
footer li {
    list-style: none;
}
@media (max-width: 700px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px; /* Adjusted top position */
        right: 10px;
        background-color: rgb(0, 128, 255);
        border-radius: 5px;
    }
    .menu.show {
        display: flex;
    }
    
    .menu a {
        padding: 10px 30px;
        transition: opacity 0.3s ease;
    }
    .menu a:hover{
        background-color: rgb(0, 128, 255);
        color: white;
        opacity: 0.4;
    }
    .menu-toggle {
        display: block;
    }
}